$primary-color: #776ADA;
$primary-White-color: #FFFFFF;
$primary-grey-700: #8C8A96;
$primary-grey-800: #656372;
$primary-Black-color: #000000;
$primary-White-Bacground: #FFFFFF;
$primary-Bacground: #776ADA;
$primary-Navy-Grey-Bacground: #F0EFF1;
$Hot-Coral: #F65B51;
$Rich-Black :#011627;
$Navy-Grey: #707991;
$box-shadow: 10px 14px 24px 0px rgba(28, 28, 28, 0.06);
$primary-border-color: rgba(0, 0, 0, 0.30);
$primary-text-color: rgba(0, 0, 0, 0.6);

html {
    font-family: 'Inter', sans-serif;
    font-size: 12px;

    body {
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-weight: 400;
        background: $primary-Navy-Grey-Bacground;
        color: $primary-Black-color;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secondary-font {
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        text-decoration: none;
    }
}

.size-10 {
    font-size: 0.833rem !important;
}

.size-12 {
    font-size: 1rem !important;
}

.size-14 {
    font-size: 1.167rem !important;
}

.size-16 {
    font-size: 1.333rem !important;
}

.size-18 {
    font-size: 1.5rem !important;
}

.size-20 {
    font-size: 1.667rem !important;
}

.size-22 {
    font-size: 1.833rem !important;
}

.size-24 {
    font-size: 2rem !important;
}

.size-26 {
    font-size: 2.167rem !important;
}

.size-28 {
    font-size: 2.333rem !important;
}

.size-30 {
    font-size: 2.5rem !important;
}

.primary-color {
    color: #776ADA;
}

.btn-primary {
    padding: 13px 26px;
    border-radius: 99px;
    border: none;
    font-weight: 600;
    background-color: $primary-Bacground;
    color: $primary-White-color;

    &:hover,
    &:active {
        background-color: $primary-Bacground;
    }


    &.icon-only {
        padding: 0;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background: $primary-White-Bacground;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow;
    }
}

.site-container {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
}

.input-field {
    input {
        font-weight: 400;
        color: $primary-Black-color;
        padding: 18px;
        border-radius: 10px;
        border: 1px solid $primary-border-color;
        padding-top: 22px !important;
        outline: none;
        box-shadow: none;
        height: 56px !important;

        &:focus {
            box-shadow: none;
        }

        &::placeholder {
            font-family: 'Outfit', sans-serif;
        }
    }

    label {
        line-height: 28px;
    }
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-.7rem) translateX(.15rem);
}


// ******************************************* login Section Pages **************************************//

.login-section-div {
    background: $primary-Navy-Grey-Bacground;
}

.login-image-logo {
    top: 50px;
}

.login-card-body {
    max-width: 427px;
    border-radius: 30px;
    background: $primary-White-Bacground;
    box-shadow: $box-shadow;

    a {
        &.forgot-password {
            color: $primary-Black-color;
        }
    }

    p {
        color: $primary-grey-700;
    }

}

// ******************************************* Header Section Pages **************************************//

.doc-header-body {
    height: 100px;
}

.avatar-img-button {
    padding: 5px 14px 5px 5px;
    border-radius: 30px;
    background: $primary-White-Bacground;
    box-shadow: $box-shadow;
    gap: 8px;
    min-width: 175px;

    p,
    span {
        color: $primary-Black-color;
        letter-spacing: -0.408px;
    }

    span {
        color: $primary-text-color
    }
}

// ******************************************* Account Settings Section Pages **************************************//
.white-box-card {
    height: calc(100vh - 120px);
    background: $primary-White-Bacground;
    border-radius: 20px;
    box-shadow: $box-shadow;

}